---
title: kitahina.co
---

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    
</head>
<body>
    <header><h1>{{ title }}</h1></header>
    {{ content | safe }}
    <hr>
    <p style="font-size: 0.8rem;">
        このページはバンダイナムコエンターテインメント様、Cygames様、バンダイナムコスタジオ様とはいっさい関係のないファンサイトです<br>
        何かあったら <a href="https://twitter.com/lsgsw" target="_blank">@lsgsw</a> まで<br>
        Powered by <a href="https://newcss.net/" target="_blank">new.css</a>
    </p>
</body>
</html>