---
title: kitahina.co
---

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/fontsource/inter/400.css">
    <link rel="stylesheet" href="/fontsource/inter/700.css">
    <link rel="stylesheet" href="/fontsource/m-plus-1/400.css">
    <link rel="stylesheet" href="/fontsource/m-plus-1/700.css">
    <link rel="stylesheet" href="/css/new.css">
    <style>
        :root {
            --nc-font-sans: 'Inter', 'M PLUS 1', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
        }
    </style>
</head>
<body>
    <header><h1>{{ title }}</h1></header>
    {{ content | safe }}
    <hr>
    <p style="font-size: 0.8rem;">
        このページはバンダイナムコエンターテインメント様、Cygames様、バンダイナムコスタジオ様とはいっさい関係のないファンサイトです<br>
        何かあったら <a href="https://twitter.com/lsgsw" target="_blank">@lsgsw</a> まで<br>
        Powered by <a href="https://www.11ty.dev/" target="_blank">Eleventy</a> and <a href="https://newcss.net/" target="_blank">new.css</a>
    </p>
</body>
</html>