---
title: kitahina.co
---

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/fontsource/inter/400.css">
    <link rel="stylesheet" href="/fontsource/inter/700.css">
    <link rel="stylesheet" href="/fontsource/m-plus-1/400.css">
    <link rel="stylesheet" href="/fontsource/m-plus-1/700.css">
    <link rel="stylesheet" href="/css/new.css">
    <style>
        :root {
            --nc-font-sans: 'Inter', 'M PLUS 1', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
        }
    </style>
</head>
<body>
    <header><h1 style="margin-bottom: 1.5rem;"><a href='/'>kitahina.co</a></h1>
    <p><a href="https://sfcinderella2022.idolmaster-official.jp/" target="_blank" rel="noopener noreferrer"><img src="/img/s4c.webp" alt="Stage for Cinderella 喜多日菜子はグループAへ！"></a><small>喜多日菜子はStage for Cinderella 予選をグループAで戦います。あなたの1票が、アイドルの可能性の扉を開きます。</small></p></header>
    
    {{ content | safe }}
    <hr>
    <p style="font-size: 0.8rem;">
        このページはバンダイナムコエンターテインメント様、Cygames様、バンダイナムコスタジオ様とはいっさい関係のないファンサイトです<br>
        何かあったら <a href="https://twitter.com/lsgsw" target="_blank" rel="noopener noreferrer">@lsgsw</a> まで<br>
        Powered by <a href="https://www.11ty.dev/" target="_blank" rel="noopener noreferrer">Eleventy</a> and <a href="https://newcss.net/" target="_blank" rel="noopener noreferrer">new.css</a>
    </p>
</body>
</html>