<footer>
  <p>
    このページはバンダイナムコエンターテインメント様、Cygames様、バンダイナムコスタジオ様とはいっさい関係のないファンサイトです
    <br />
    Made with <a href="https://astro.build/">{Astro.generator}</a>
  </p>
</footer>
<style>
  footer {
    max-width: 40rem;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8rem;
  }
  footer p {
    margin: 0;
  }
</style>
