@font-face {
    font-family: 'LINESeedJP';
    font-weight: 400;
    font-display: swap;
    src: url('LINESeedJP_OTF_Rg.woff2') format('woff2');
}

@font-face {
    font-family: 'LINESeedJP';
    font-weight: 700;
    font-display: swap;
    src: url('LINESeedJP_OTF_Bd.woff2') format('woff2'); 
}

@font-face {
    font-family: 'LINESeedJP';
    font-weight: 900;
    font-display: swap;
    src: url('LINESeedJP_OTF_Eb.woff2') format('woff2');
}

@font-face {
    font-family: 'LINESeedJP';
    font-weight: 200;
    font-display: swap;
    src: url('LINESeedJP_OTF_Th.woff2') format('woff2');
}